section {
	padding: 30px 0;
}

.margin_top {
	margin-top: 20px;
}

.blue {
  	color: rgb(44, 77, 144);
}

.my_anchor:hover {
	text-decoration: none;
	color: black;
}

.my_anchor > div > h3 {
	color: black;
}

.blue:hover {
	color: #990000;
}

/* My Carousel */
.my_carousel {
}

.header-content-inner {
	border: 10px solid white;
}
/* Nav */
.white {
	font-family: 'Merriweather';
	text-transform: none;
	color: white;
}

#mainNav {
	background-color: #2C4D90;
  	margin-bottom: 0;
  	float: left;
}

@media screen and (max-width: 585px) {
    .disappear_small {
        display: none;
    }
}

/* footer */

footer {
	text-align: center;
	background-color: black;
	padding-top: 15px;
}

footer > div > p {
	color: #eee;
}

.s1 {
	padding-top: 12%;
	max-width: 950px;
}
.blog{
	background-image: none;
	background-color: #ffffff;
}
/* Volunteer */

.v1 {
	padding-top: 50px;
}

hr {
	border-color: #990000;
}

.v_button {
	width: 200px;
}

.box {
	background-color: rgba(0,0,0,.6);
  	margin-top: 40px;
  	border-radius: 15px;
}

.box > div > h2 {
	font-weight: 700;
}

/* Index */

.opacity {
	background-color: rgba(0,0,0,.6);
	border-radius: 10px;
	overflow: hidden;
  	padding: 35px;
}

.opacity > div > h2 {
	font-family: 'Merriweather';
	font-size: 50px;
}

.opacity > div > p {
	font-family: 'Merriweather';
	font-size: 24px;
}

.opacity > div > img {
	border-radius: 15px;
}