section {
	padding: 30px 0;
}

.service-box {
	margin: 0;
}

.margin_top {
	margin-top: 20px;
}

.blue {
  	color: rgb(44, 77, 144);
}

.my_anchor:hover {
	text-decoration: none;
	color: black;
}

.my_anchor > div > h3 {
	color: black;
}

/* My Carousel */
.my_carousel {
}

.header-content-inner {
	border: 10px solid white;
}
/* Nav */
.white {
	font-family: 'Merriweather';
	text-transform: none;
	color: white;
}

#mainNav {
	background-color: #2C4D90;
  	margin-bottom: 0;
  	float: left;
}

@media screen and (max-width: 585px) {
    .disappear_small {
        display: none;
    }
}

/* footer */

footer {
	text-align: center;
	background-color: black;
	padding-top: 15px;
}

footer > div > p {
	color: #eee;
}